@page "/"

@using Snailbird.Client.Common
@* Mobile Header *@
<div class="d-block d-sm-none ma-0 pt-8 px-2">
    <MudImage Src="/img/photo/the-end-as-you-perceive-it-to-be-reaper-session.png" Width="300" Class="d-block mx-auto mb-4" Alt="Snailbird DAW Session"/>

    <div class="d-flex-inline justify-center mt-4 title">
        <MudText Typo="Typo.h2" Align="Align.Center" Style="font-weight: 300;">
            Cerebellum Softworks
        </MudText>
    </div>
</div>

@* Main Header *@
<div class="d-none d-sm-block ma-0 pt-0">
    <ParallaxView BackgroundHeight="350px" ParallaxSpeed="0.4">
        <Background>
            <div style="width: 100%; height: 100%; position: relative;">
                <Centered>
                    <MudImage Src="/img/photo/the-end-as-you-perceive-it-to-be-reaper-session.png"
                              Alt="Snailbird DAW Session"
                              ObjectPosition="ObjectPosition.Top"
                              ObjectFit="ObjectFit.Cover"/>
                </Centered>
                <div style="position: absolute; inset: 0; display: flex; align-items: center; justify-content: center; background: rgba(0,0,0,0.3);">
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudImage Src="/img/snailbird-logo-1-sm.png"/>
                        <MudText Typo="Typo.h1" Align="Align.Center" Style="color: white;">
                            Snailbird Labs
                        </MudText>
                    </MudStack>
                </div>
            </div>
        </Background>
        <Foreground>
            <MudContainer MaxWidth="MaxWidth.Large" Class="py-8">
                <MudText Typo="Typo.h4">Welcome to Snailbird!</MudText>
                
            </MudContainer>
        </Foreground>
    </ParallaxView>
</div>




