<div class="d-flex align-center justify-center">
    <MudImage Fluid Width="24" Src="@_imageSrc" Alt="Snailbird Icon" />
</div>

@code {
    [Parameter] public bool Alt { get; set; } = false;
    [Parameter] public ImgSize Size { get; set; } = ImgSize.Medium;

    private string _size => Size switch
    {
        ImgSize.Small => "sm",
        ImgSize.Medium => "md",
        ImgSize.Large => "lg",
        _ => throw new ArgumentException("Unsupported Size")
    };
    private string _style => Alt ? "alt-" : string.Empty;
    private string _imageSrc => $"img/snailbird-logo-3-{_style}{_size}.png";
}