.snail-egg {
    position: fixed; 
    top: 50vh;
    left: var(--left-offset, -60vw);
    transition: left 3.6s ease-in-out, transform 1s ease-in-out;
    overflow: hidden;
}

.horizontal-flip {
    transform: scaleX(-1);
}