@layout Layout.SolutionsLayout

@page "/solutions/babelfish"
@using SnailbirdHome.Components.Common

<PageTitle>Babelfish: Live Captioning &amp; Translation Powered by Cerebellum Softworks</PageTitle>

<SeoHead Metadata="@(new PageSeoMetadata
{
    Title = "Babelfish: Live Captioning & Translation Powered by Cerebellum Softworks",
    Description = "Discover Babelfish by Cerebellum Softworks, a cutting-edge solution for live captioning and translation that enhances accessibility and communication across languages."
})" />

<MudContainer MaxWidth="MaxWidth.Medium" Class="my-16">
    <div class="d-flex flex-column align-center justify-center">
        <MudText Typo="Typo.h1" Align="Align.Center" Color="Color.Primary" Class="mb-8" Style="letter-spacing: 0.042em;">
            Babelfish
        </MudText>
        <MudText Typo="Typo.h4" Align="Align.Center" Color="Color.Secondary" Class="mb-8">
            Live Captioning & Translation
        </MudText>
    </div>
</MudContainer>
<MudContainer MaxWidth="MaxWidth.Large">
        <div class="d-none d-lg-flex">
            <MudImage Src="img/babelfish-operating-4-banner.jpg" Alt="Focus Group" ObjectFit="ObjectFit.Contain"  Style="width: 100%; box-shadow: 0 2px 8px rgba(0, 0, 0, 1);"/>
        </div>
        <div class="d-flex d-lg-none justify-center" style="width: 100%;">
            <MudImage Src="img/babelfish-operating-4-sq.jpg" Alt="Focus Group" ObjectFit="ObjectFit.Contain" Style="max-height: 380px; max-width: 90vw; box-shadow: 0 2px 8px rgba(0, 0, 0, 1);"/>
        </div>
    </MudContainer>
<MudContainer MaxWidth="MaxWidth.Medium" Class="my-16">
    <div class="d-flex flex-column align-center justify-center">
        <MudText Typo="Typo.h6" Align="Align.Center" Class="mb-4">
            Babelfish by Cerebellum Softworks is a state-of-the-art solution designed to provide real-time captioning and 
            translation services for technical audiences.
            Enhance your events, meetings, and communications with our sophisticated technology that bridges language barriers seamlessly.
        </MudText>
    </div>
</MudContainer>

<div class="d-none d-lg-flex justify-center">
    <MudImage Src="img/babelfish-gui-translation-monitor-3-lg.webp" Alt="Babelfish Translation Monitor" Elevation="2" Height="580" Class="my-8 mx-auto" />
</div>

<div class="d-none d-sm-flex d-lg-none justify-center">
    <MudImage Src="img/babelfish-gui-translation-monitor-3-md.webp" Alt="Babelfish Translation Monitor" Elevation="2" Class="my-8 mx-auto" Style="width: 90%; max-width: 700px;" />
</div>

<div class="d-flex d-sm-none justify-center">
    <MudImage Src="img/babelfish-gui-translation-monitor-3-sm.webp" Alt="Babelfish Translation Monitor" Elevation="2" Class="my-8 mx-auto" Style="width: 90%;" />
</div>

<MudContainer MaxWidth="MaxWidth.Medium" Class="my-16">
    <MudText Typo="Typo.h5" Color="Color.Primary" Class="mb-4">
        Key Features of Babelfish:
    </MudText>
    <ul class="pb-4" style="list-style-type: none;">
        <li class="mb-4">
            <MudText Typo="Typo.body1">
                <strong>Real-Time Captioning:</strong> Provides instant captions for live events, ensuring accessibility for all participants.
            </MudText>
        </li>
        <li class="mb-4">
            <MudText Typo="Typo.body1">
                <strong>Multi-Language Support:</strong> Supports translation into multiple languages, facilitating global communication.
            </MudText>
        </li>
        <li class="mb-4">
            <MudText Typo="Typo.body1">
                <strong>Customizable Interface:</strong> Tailor the captioning display to match your branding and event style.
            </MudText>
        </li>
        <li class="mb-4">
            <MudText Typo="Typo.body1">
                <strong>High Accuracy:</strong> Utilizes advanced speech recognition and translation algorithms for precise results.<br/>Tuned specifically for your domain terminology.
            </MudText>
        </li>
        <li class="mb-4">
            <MudText Typo="Typo.body1">
                <strong>Transcripts &amp; Video Captions:</strong> Generates accurate time-coded transcripts and WebVTT closed captions post event.
            </MudText>
        </li>
    </ul>
</MudContainer>

<div class="d-none d-lg-flex justify-center">
    <MudImage Src="img/babelfish-gui-caption-monitor-3-lg.webp" Alt="Babelfish Caption Monitor" Elevation="2" Height="580" Class="my-8 mx-auto" />
</div>

<div class="d-none d-sm-flex d-lg-none justify-center">
    <MudImage Src="img/babelfish-gui-caption-monitor-3-md.webp" Alt="Babelfish Caption Monitor" Elevation="2" Class="my-8 mx-auto" Style="width: 90%; max-width: 600px;" />
</div>

<div class="d-flex d-sm-none justify-center">
    <MudImage Src="img/babelfish-gui-caption-monitor-3-sm.webp" Alt="Babelfish Caption Monitor" Elevation="2" Class="my-8 mx-auto" Style="width: 90%; max-width: 360px;" />
</div>

<MudContainer MaxWidth="MaxWidth.Large" Class="pa-4 my-16">
    <MudStack AlignItems="AlignItems.Center" Class="mb-8">
        <MudText Typo="Typo.h4" Color="Color.Primary">
            Why Choose Babelfish?
        </MudText>
        <MudImage Src="img/babelfish-pipeline-1.webp" Alt="Babelfish Translation Pipeline" Elevation="2" Class="d-none d-md-flex mt-8 mx-auto" Style="width: 95%;"/>
        <div class="highlight-card">
            <MudGrid Justify="Justify.Center" Class="mb-8 pa-4" Spacing="12">
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="0" Class="pa-2 ps-3 content-block" Style="@($"--block-hover-color: var(--mud-palette-secondary);")">
                        <MudText Typo="Typo.body1">
                            In today's globalized world, effective communication across language barriers is more important than ever. 
                            Babelfish empowers organizations to connect with diverse audiences by providing reliable, real-time captioning 
                            and translation services that enhance understanding and engagement.
                        </MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="0" Class="pa-2 ps-3 content-block" Style="@($"--block-hover-color: var(--mud-palette-primary);")">
                        <MudText Typo="Typo.h6">
                            <strong>Babelfish</strong> is ideal for technical conferences, webinars, and corporate meetings where clear communication is essential. 
                        </MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" sm="6" md="4">
                    <MudPaper Elevation="0" Class="pa-2 ps-3 content-block" Style="@($"--block-hover-color: var(--mud-palette-tertiary);")">
                        <MudText Typo="Typo.body1">
                            Successfully utilized at the TCB Council Workshop in October 2025, Babelfish has demonstrated its capability to handle complex
                            technical terminology for the EMC regulatory community with ease.
                        </MudText>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </div>
    </MudStack>

    <MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex flex-column justify-center">
        <MudImage Src="img/babelfish-level-meter-1.webp" Alt="Babelfish Translation Monitor" Elevation="0" Height="300" Class="my-8 mx-auto" />
    </MudContainer>

    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Elevation="0" Class="pa-4 mt-8" Style="background: var(--mud-palette-secondary); color: var(--mud-palette-primary-text);">
            <MudText Typo="Typo.h6" Align="Align.Center">
                Ready to elevate your communication with Babelfish?<br/>
                <MudButton Href="/contact" Style="color: var(--mud-palette-primary-text); border-color: var(--mud-palette-primary-text);" Variant="Variant.Outlined">
                    Contact us
                </MudButton> 
                today to learn more and schedule a demo!
            </MudText>
        </MudPaper>
    </MudContainer>
</MudContainer>
