@inherits LayoutComponentBase

<MainLayout>
    <Body>
        @Body
        <MudContainer MaxWidth="MaxWidth.Large" Class="my-12 d-flex justify-center">
            <MudButton Variant="Variant.Outlined" Color="Color.Secondary" Href="/solutions">
                <div style="text-align: center;">
                    Back to Solutions Overview
                </div>
            </MudButton>
        </MudContainer>
    </Body>
</MainLayout>
