@using Snailbird.Client.Common
<MudPaper Square Width="100%" Height="56px" Elevation="2" Class="ma-0 py-4 px-4 border-t-1 d-inline-flex justify-center">
    <div class="d-none d-md-inline-flex">
        <MudStack Row AlignItems="AlignItems.Center" Spacing="6">
            <SnailbirdIcon />
            <MudText Typo="Typo.caption" Color="Color.Secondary">
                &#169; 2026 Snailbird Labs
            </MudText>
            <SnailbirdIcon Alt/>
        </MudStack>
    </div>
</MudPaper>